<div class="container-fluid">
{{#each newbooks}}
	<div class="row">
	  <h2>{{ title }}</h2>
	  <section>
	  	<div class="author">by {{author}}</div>
	  	<div class="type">{{ type }}</div>
	  </section>
	  <p>{{ synopsis }}</p>
	  <p class="publisher">{{ publisher }}, &copy{{ year }}</p>
	</div>
{{/each}}
</div>