<div class="container-fluid">
{{#each newbooks}}
	<div class="row">
	  <h3>{{ title }}</h3>
	  <section>{{author}} -- {{ type }}</section>
	  <p>{{ synopsis }}</p>
	  <p>{{ year }} - {{ publisher }}</p>
	</div>
{{/each}}
</div>